# Configuration file

##########################################################################################################
# block_heat_conversions
#--------------------------------------------------------------------------------------------------------#
# Conversion of one block into another when a lot of heat is added. 'Air' as an entry means the block turned into dust
##########################################################################################################

block_heat_conversions {
}


general {
    # Heat map handles interaction of heat based energy and the world. Disable only if it causes issues or you want to reduce world file size. If disabled it can prevent machines from working. [default: true]
    B:EnabledHeatMap=true
}


heat_conversions {
    #  [default: minecraft:air]
    S:"ArchitectureCraft:sawbench"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioBorderlessPainting"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioCase"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioClipboard"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioClock"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioDesk"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioFancyPainting"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioFancySign"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioFlatPainting"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioLabel"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioMapFrames"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioMiddlePainting"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioPaneler"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioPotionShelf"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioRack"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioSeats"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioShelf"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioSimplePainting"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioTable"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BiblioWorkbench"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:Bibliotheca"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:BookcaseFilled"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:Typesetting Machine"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioCraft:tile.BiblioFramedChest"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodClock"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodClock2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFancySign"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFancySign2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFancyWorkbench"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFancyWorkbench2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstBookcase"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstBookcase2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstcase0"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstcase1"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstdesk"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstdesk2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstlabel"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstlabel2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstpotshelf"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstpotshelf2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstrack"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstrack2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstshelf"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFstshelf2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFsttable"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodFsttable2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodMapFrame"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodMapFrame2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodPaintingT0"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodPaintingT0b"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodPaintingT1"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodPaintingT1b"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodPaintingT2"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodPaintingT2b"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodPaintingT3"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodPaintingT3b"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodPaintingT4"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodPaintingT4b"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodSeat"=minecraft:air

    #  [default: minecraft:air]
    S:"BiblioWoodsForestry:BiblioWoodSeat2"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersBarrier"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersBed"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersBlock"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersCollapsibleBlock"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersDaylightSensor"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersDoor"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersGarageDoor"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersGate"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersHatch"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersLadder"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersSafe"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersSlope"=minecraft:air

    #  [default: minecraft:air]
    S:"CarpentersBlocks:blockCarpentersStairs"=minecraft:air

    #  [default: minecraft:air]
    S:"CaveBiomes:lava_vine"=minecraft:air

    #  [default: minecraft:air]
    S:"CaveBiomes:roots"=minecraft:air

    #  [default: minecraft:air]
    S:"ChromatiCraft:chromaticraft_block_decay"=minecraft:air

    #  [default: minecraft:air]
    S:"ChromatiCraft:chromaticraft_block_dyeleaf"=minecraft:air

    #  [default: minecraft:air]
    S:"ChromatiCraft:chromaticraft_block_glowleaf"=minecraft:air

    #  [default: minecraft:air]
    S:"ChromatiCraft:chromaticraft_block_glowlog"=minecraft:air

    #  [default: minecraft:air]
    S:"ChromatiCraft:chromaticraft_block_rainbowleaf"=minecraft:air

    #  [default: minecraft:air]
    S:"ChromatiCraft:chromaticraft_block_tnt"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.AppleBox"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.VegiBag"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.WoodBox"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.blockBarrel"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.bowlRack"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.cardboardBox"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.cassisTree"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.chopsticksBox"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.flowerVase"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.hedge"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.leavesYuzu"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.logYuzu"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.melonBomb"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.melonSilky"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.mobDropBox"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.mushroomBox"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.teaTree"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.wipeBox"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.wipeBox2"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.woodPanel"=minecraft:air

    #  [default: minecraft:air]
    S:"DCsAppleMilk:defeatedcrow.yuzuFence"=minecraft:air

    #  [default: minecraft:air]
    S:"EnderIO:blockPaintedCarpet"=minecraft:air

    #  [default: minecraft:air]
    S:"EnderIO:blockPaintedFence"=minecraft:air

    #  [default: minecraft:air]
    S:"EnderIO:blockPaintedFenceGate"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:carpentry"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:door"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:doubleSlab"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:fence"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:gate"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:log"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:multifence"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:panel"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:planks"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:slab"=minecraft:air

    #  [default: minecraft:air]
    S:"ExtraTrees:stairs"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:fences"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:fencesFireproof"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:leaves"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:logs"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:logsFireproof"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:planks"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:planksFireproof"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:slabs"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:slabsDouble"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:slabsDoubleFireproof"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:slabsFireproof"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:stairs"=minecraft:air

    #  [default: minecraft:air]
    S:"Forestry:stairsFireproof"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockBarrel"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockDynamite"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockDynamiteRemote"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockFoam"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockITNT"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockNuke"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockReinforcedFoam"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockRubLeaves"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockRubWood"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockRubber"=minecraft:air

    #  [default: minecraft:air]
    S:"IC2:blockScaffold"=minecraft:air

    #  [default: minecraft:air]
    S:"NuclearCraft:EMP"=minecraft:air

    #  [default: minecraft:air]
    S:"NuclearCraft:EMPE"=minecraft:air

    #  [default: minecraft:air]
    S:"NuclearCraft:antimatterBomb"=minecraft:air

    #  [default: minecraft:air]
    S:"NuclearCraft:antimatterBombE"=minecraft:air

    #  [default: minecraft:air]
    S:"NuclearCraft:nuke"=minecraft:air

    #  [default: minecraft:air]
    S:"NuclearCraft:nukeE"=minecraft:air

    #  [default: minecraft:air]
    S:"PracticalLogistics:Hammer_Air"=minecraft:air

    #  [default: minecraft:air]
    S:"Techguns:airMarker"=minecraft:air

    #  [default: minecraft:air]
    S:"Techguns:camoNetPane"=minecraft:air

    #  [default: minecraft:air]
    S:"Techguns:camoNetRoof"=minecraft:air

    #  [default: minecraft:air]
    S:"Techguns:sandbags"=minecraft:air

    #  [default: minecraft:air]
    S:"WTFTweaks:WTFtnt"=minecraft:air

    #  [default: minecraft:air]
    S:"advancedRocketry:alienLeaves"=minecraft:air

    #  [default: minecraft:air]
    S:"advancedRocketry:alienWood"=minecraft:air

    #  [default: minecraft:air]
    S:"advancedRocketry:seat"=minecraft:air

    #  [default: minecraft:air]
    S:"advancedRocketry:tile.astroBed"=minecraft:air

    #  [default: minecraft:air]
    S:"advancedRocketry:tile.charcoallog"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:acacia_planks"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:birch_planks"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:bookshelf"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:carpet"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:carpet_block"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:dark_oak_planks"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:jungle_planks"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:leaves"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:oak_planks"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:present"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:spruce_planks"=minecraft:air

    #  [default: minecraft:air]
    S:"chisel:valentines"=minecraft:air

    #  [default: minecraft:air]
    S:"ezstorage:storage_box"=minecraft:air

    #  [default: minecraft:air]
    S:"ezstorage:storage_core"=minecraft:air

    #  [default: minecraft:air]
    S:"growingtrees:acaciabranch"=minecraft:air

    #  [default: minecraft:air]
    S:"growingtrees:birchbranch"=minecraft:air

    #  [default: minecraft:air]
    S:"growingtrees:darkoakbranch"=minecraft:air

    #  [default: minecraft:air]
    S:"growingtrees:junglebranch"=minecraft:air

    #  [default: minecraft:air]
    S:"growingtrees:leaves0"=minecraft:air

    #  [default: minecraft:air]
    S:"growingtrees:leaves1"=minecraft:air

    #  [default: minecraft:air]
    S:"growingtrees:oakbranch"=minecraft:air

    #  [default: minecraft:air]
    S:"growingtrees:sprucebranch"=minecraft:air

    #  [default: minecraft:air]
    S:"militarybasedecor:BlockBasicMixer"=minecraft:air

    #  [default: minecraft:air]
    S:"militarybasedecor:BlockBasicSandBag"=minecraft:air

    #  [default: minecraft:air]
    S:"militarybasedecor:BlockOliveDrabTexturedBlock"=minecraft:air

    #  [default: minecraft:air]
    S:"militarybasedecor:BlockPicketFence"=minecraft:air

    #  [default: minecraft:air]
    S:"militarybasedecor:BlockRopeFence"=minecraft:air

    #  [default: minecraft:air]
    S:"militarybasedecor:BlockTangledRope"=minecraft:air

    #  [default: minecraft:air]
    S:"militarybasedecor:camouflage_block"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:acacia_stairs"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:bed"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:birch_stairs"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:bookshelf"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:brown_mushroom_block"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:carpet"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:chest"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:crafting_table"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:dark_oak_stairs"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:daylight_detector"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:deadbush"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:double_wooden_slab"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:fence"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:fence_gate"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:jukebox"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:jungle_stairs"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:leaves"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:leaves2"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:log"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:log2"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:noteblock"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:oak_stairs"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:planks"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:red_mushroom_block"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:spruce_stairs"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:standing_sign"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:tallgrass"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:tnt"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:trapdoor"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:trapped_chest"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:vine"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:wall_sign"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:wooden_door"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:wooden_pressure_plate"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:wooden_slab"=minecraft:air

    #  [default: minecraft:air]
    S:"minecraft:wool"=minecraft:air
}


